streamlit
altair
pydeck
langchain
langchain-openai
langchain-community
langgraph
openai
faiss-cpu
sentence-transformers
PyMuPDF
python-dotenv
transformers
torch
beautifulsoup4
requests
feedparser
spacy
pytesseract
Pillow
pdfplumber
camelot-py
tabula-py
